<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div class="container">
	<h5 class="center-block">Metro Shoe store</h5>
    <hr />
    <img src="https://s3.amazonaws.com/thumbnails.venngage.com/template/a3a62175-0e0c-4092-925c-ee74674f7159.png" class="img-responsive" style="width:250px;" />
    
    <div class="row">
        <div class="col-xl-4 clo-md-offset-4">
            <div class="bg-danger" th:if="${param.error != null}">
                Inavalid username and password.
            </div>
             <div class="bg-danger" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form class="form-singin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-gruop">
                    <label for="username" class="sr-only">Username</label> 
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username" required="required" autofocus="autofocus" />
                </div> 
                <div class="form-gruop">
                    <label for="password" class="sr-only">Password</label> 
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" required="required"/>
                </div> 
                <div class="col-xl-6" >
                	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
    
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>