<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li><a th:href="@{/shoe/shoeList}"><i
						class="fa fa-long-arrow-left" aria-hidden="true"></i>Go back</a></li>
				<li><a th:href="@{/shoe/updateShoe?id=}+${shoe.id}">Edit</a></li>
			</ol>
			
		</div>
		
		<div class="row">
			<div class="col-xl-4">
				<div class="panel panel-default">
				<div class="panel-body">
					<img th:src="@{/images/shoe/}+${shoe.id}+'.png'"
							class="img-responsive center-block" />
				</div>
				</div>
			</div>
			<div class="col-xl-8">
				<h3 th:text="${shoe.title}"></h3>
				<div class="row">
					<div class="col-xl-5">
						<p>
							<strong>Brand: </strong><span th:text="${shoe.brand}"></span>
						</p>
						<p>
							<strong>Gtype: </strong><span th:text="${shoe.gtype}"></span>
						</p>
						<p>
							<strong>Available Size: </strong><span
								th:text="${shoe.availablesize}"></span>
						</p>
						<p>
							<strong>Category: </strong><span th:text="${shoe.category}"></span>
						</p>

					</div>
					<div class="col-xl-3">
	
						<p>
							<strong>List Price: </strong><span th:text="${shoe.listPrice}"></span>
						</p>
						<p>
							<strong>Our Price: </strong><span th:text="${shoe.ourPrice}"></span>
						</p>
						<p>
							<strong>Number in Stock: </strong><span
								th:text="${shoe.inStockNumber}"></span>
						</p>
					</div>
				</div>
				
				<p>
					<Strong>Description: </Strong><span th:utext="${shoe.description}"></span>
				</p>
			</div>
			
		</div>
	</div>
	
		<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>